@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
body{
    background: rgb(85,85,85);
background: linear-gradient(0deg, rgba(85,85,85,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 95%, rgba(0,0,0,1) 100%);
}

/* article#items{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
} */

#Title{
    padding-left: 10em;
    padding-bottom: 5em;
    padding-top: 1em;
}

.aside {
    width: 40%;
    margin-right: 16em;
    margin-left: 2em;
    float: right;
    padding-bottom: 5em;
}
img{
    padding-bottom: 10em;
}

.aside img{
    width: 16em;
    padding-right: 1em;
    padding-bottom: 0em;
}

button {
    background-color: #337FED;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    color: white;
    border: none;
    font-weight: bold;
}
button:hover {
    background: #1E62D0;
    border: solid #337FED 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}
#email{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    text-decoration: underline;
}


